.home {
    display: flex;
}

.prod-container {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    padding: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: white;
    background: black;
    height: 100vh;
    padding: 10px;
}


.filters > span {
   padding-bottom: 20px;
}

.products {
    width: 30%;
    margin: 10px;
}